<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V20 Character Sheet</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='css/V20Sheet.css') }}>
</head>

<body>
    
    <div id="generalInfo">
        <div class="row1 column">
            <div id="name" class="generalInput">
                <p id="label">name: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="player" class="generalInput">
                <p id="label">Player: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="chronicle" class="generalInput">
                <p id="label">Chronicle: </p> <input id="generalTextInput" type="text">
            </div>
        </div>

        <div class="row2 column">
            <div id="nature" class="generalInput">
                <p id="label">Nature: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="demeanor" class="generalInput">
                <p id="label">Demeanor: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="concept" class="generalInput">
                <p id="label">Concept: </p> <input id="generalTextInput" type="text">
            </div>
        </div>

        <div class="row3 column">
            <div id="clan" class="generalInput">
                <p id="label">Clan: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="generation" class="generalInput">
                <p id="label">Generation: </p> <input id="generalTextInput" type="text">
            </div>

            <div id="sire" class="generalInput">
                <p id="label">Sire: </p> <input id="generalTextInput" type="text">
            </div>
        </div>
    </div>

    <div id="attributes">
        
    </div>

    <div id="abilities">
        
    </div>

    <div id="otherInfo">
        
    </div>

</body>
</html>