.column{
    padding: 2rem;
    max-width: 33%;
    float: left;
}

.generalInput{
    display: flex;
    align-items: center;
}

.attributesInput{
    display: flex;
    align-items: center;
}

.generalTextInput{
    width: 40%;
}

#label{
    float:left;
}
